<table>
  <tr>
    <td colspan="2">
      Go to the <a href="https://www.google.com/recaptcha">reCAPTCHA</a> website and get the API keys</td>
  </tr>
  <tr>
    <th>Site Key</th>
    <td>
      <input type="text" id="settings_site_key"
                         value="<%= settings['site_key'] %>"
                         name="settings[site_key]">
    </td>
  </tr>
  <tr>
    <th>Secret Key</th>
    <td>
      <input type="text" id="settings_secret_key"
                         value="<%= settings['secret_key'] %>"
                         name="settings[secret_key]">
    </td>
  </tr>
</table>
